build/*
install/*
log/*
site/*
docs/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/*
!vscode/c_cpp_properties.json
!vscode/settings.json
!vscode/tasks.json
!vscode/launch.json
